body {
    color: white;
    background-image: url(/10-jun-24-aksantha/assets/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: monospace;
    font-size: 15px;
}
main{
    background-color: rgba(64, 64, 64,0.8);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 4px 10px 4px rgba(64, 64, 64,0.8);
}
header{
    display: flex;
    justify-content: center;
}
h3 {
    margin-bottom: 10px;
}
.subject-info{
    font-family: math;
    font-style: italic;
    font-size: 18px;
}
.container-input{
    display: flex;
    padding: 25px;
    margin: 5px;
    place-content: space-around;
    text-align: center;
}
.container-output{
    text-align: center;
}
.container-celcius{
    resize: none;
    background-color: gainsboro;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 95px;
    width: 310px;
    outline: none;
}
.container-fahrenheit{
    resize: none;
    background-color: gainsboro;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 95px;
    width: 310px;
    outline: none;
}
.container-result{
    resize: none;
    background-color: gainsboro;
    border-radius: 10px;
    height: 95px;
    width: 310px;
    outline: none;
}

button{
    border-radius: 8px;
    border: 0px;
    height: 40px;
    width: 100px;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
button:hover{
    border-radius: 8px;
    border: 0px;
    height: 45px;
    width: 110px;
    font-family: monospace;
}
.skyblue-color{
    background-color: lightskyblue;
    color: white;
}
.red-color{
    background-color: red;
    color: white;
}
.flowerblue-color{
    background-color: cornflowerblue;
    color: white;
}
.subject-instruction{
    margin-bottom: 10px;
    margin-top: auto;
}
a{
    color: white;
}